In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

In [3]:
data = pd.read_csv('data.csv',encoding='gbk')
data.head()   #(4754, 90)

,Unnamed: 0,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

数据类型

In [11]:
data.dtypes

Unnamed: 0                                 int64
custid                                     int64
trade_no                                  object
bank_card_no                              object
low_volume_percent                       float64
middle_volume_percent                    float64
take_amount_in_later_12_month_highest      int64
trans_amount_increase_rate_lately        float64
trans_activity_month                     float64
trans_activity_day                       float64
transd_mcc                               float64
trans_days_interval_filter               float64
trans_days_interval                      float64
regional_mobility                        float64
student_feature                          float64
repayment_capability                       int64
is_high_user                               int64
number_of_trans_from_2011                float64
first_transaction_time                   float64
historical_trans_amount                    int64
historical_trans_day                     float64
rank_trad_1_month                        float64
trans_amount_3_month                       int64
avg_consume_less_12_valid_month          float64
abs                                        int64
top_trans_count_last_1_month             float64
avg_price_last_12_month                    int64
avg_price_top_last_12_valid_month        float64
reg_preference_for_trad                   object
trans_top_time_last_1_month              float64
                                          ...
loans_credibility_behavior               float64
loans_count                              float64
loans_settle_count                       float64
loans_overdue_count                      float64
loans_org_count_behavior                 float64
consfin_org_count_behavior               float64
loans_cash_count                         float64
latest_one_month_loan                    float64
latest_three_month_loan                  float64
latest_six_month_loan                    float64
history_suc_fee                          float64
history_fail_fee                         float64
latest_one_month_suc                     float64
latest_one_month_fail                    float64
loans_long_time                          float64
loans_latest_time                         object
loans_credit_limit                       float64
loans_credibility_limit                  float64
loans_org_count_current                  float64
loans_product_count                      float64
loans_max_limit                          float64
loans_avg_limit                          float64
consfin_credit_limit                     float64
consfin_credibility                      float64
consfin_org_count_current                float64
consfin_product_count                    float64
consfin_max_limit                        float64
consfin_avg_limit                        float64
latest_query_day                         float64
loans_latest_day                         float64
Length: 90, dtype: object

缺省值情况

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 90 columns):
Unnamed: 0                                    4754 non-null int64
custid                                        4754 non-null int64
trade_no                                      4754 non-null object
bank_card_no                                  4754 non-null object
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4752 non-null object
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null int64
source                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
id_name                                       4478 non-null object
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_query_time                             4450 non-null object
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_latest_time                             4457 non-null object
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: float64(70), int64(13), object(7)
memory usage: 3.3+ MB

In [13]:
# 查看每一列的取值
for key in data.columns:
    print(data[key].drop_duplicates())

0           5
1          10
2          12
3          13
4          14
5          15
6          16
7          18
8          20
9          26
10         28
11         29
12         30
13         33
14         37
15         41
16         43
17         46
18         48
19         49
20         50
21         52
22         53
23         60
24         61
25         62
26         64
27         71
28         80
29         88
        ...
4724    11923
4725    11924
4726    11926
4727    11927
4728    11930
4729    11932
4730    11933
4731    11936
4732    11938
4733    11940
4734    11941
4735    11945
4736    11947
4737    11950
4738    11953
4739    11957
4740    11958
4741    11959
4742    11964
4743    11967
4744    11968
4745    11969
4746    11972
4747    11974
4748    11977
4749    11978
4750    11986
4751    11988
4752    11991
4753    11992
Name: Unnamed: 0, Length: 4754, dtype: int64
0       2791858
1        534047
2       2849787
3       1809708
4       2499829
5        518072
6       1205125
7       1129897
8       2599411
9       1413051
10       321061
11       750939
12      1169544
13       193188
14      1780401
15       999803
16       203427
17       829745
18       818730
19      2318583
20      2770676
21      2763960
22      1272880
23       800080
24       654993
25       140303
26       148742
27       713652
28      3051745
29      1870891
         ...
4724    3401661
4725    3089430
4726    2123865
4727     295148
4728    2944213
4729    1757011
4730    3380919
4731    1517438
4732    3382649
4733    2867902
4734    2854394
4735    2722837
4736    3205825
4737      11985
4738     471607
4739    3196970
4740    2154764
4741     490919
4742    2404717
4743    2475139
4744    1039579
4745    3361286
4746     692541
4747    1886940
4748    1663311
4749    3269862
4750     270952
4751    2425913
4752     471395
4753    1881943
Name: custid, Length: 4754, dtype: int64
0       20180507115231274000000023057383
1       20180507121002192000000023073000
2       20180507125159718000000023114911
3       20180507121358683000000388283484
4       20180507115448545000000388205844
5       20180507121233054000000388275132
6       20180507121931540000000388298915
7       20180507124659235000000023105807
8       20180507115855621000000388224458
9       20180504155156296000000021138084
10      20180507123917136000000388381264
11      20180507121556599000000023080022
12      20180507114604230000000388176931
13      20180507115807011000000388215609
14      20180507121351317000000388282601
15      20180507120312643000000388240340
16      20180507115358209000000388203669
17      20180507123013060000000388346445
18      20180507123317625000000388359399
19      20180507122754609000000388339559
20      20180507114736098000000388185623
21      20180507122338228000000023086166
22      20180504181611848000000381832460
23      20180507123855945000000388380951
24      20180507123355168000000388361170
25      20180504162411113000000021172853
26      20180507120445507000000388245413
27      20180507123830326000000388380639
28      20180507115610811000000388212340
29      20180507123310399000000388357579
                      ...
4724    20180507124934620000000388416059
4725    20180507122940057000000388342910
4726    20180504162011976000000381367953
4727    20180507114821935000000388187853
4728    20180507120905394000000023072119
4729    20180507123942186000000388381507
4730    20180507124818814000000388411045
4731    20180507123928918000000388381394
4732    20180507124249332000000388393507
4733    20180507114636248000000388181870
4734    20180507124936647000000388418873
4735    20180507121900401000000388295882
4736    20180507124233969000000023103541
4737    20180504170134092000000381539852
4738    20180507114726030000000023048892
4739    20180504161419403000000381329175
4740    20180507115324523000000388201054
4741    20180504183705135000000381895535
4742    20180507125018925000000023111153
4743    20180504170654830000000381561522
4744    20180507115029481000000388194850
4745    20180507123619864000000388369012
4746    20180507125012243000000023109396
4747    20180507123811494000000388377504
4748    20180507121025853000000388266701
4749    20180507120519228000000388247328
4750    20180507114937914000000388192877
4751    20180507121340509000000388278785
4752    20180504161827128000000381357758
4753    20180507124243041000000388391027
Name: trade_no, Length: 4754, dtype: object
0    卡号1
Name: bank_card_no, dtype: object
0       0.01
1       0.02
2       0.04
3       0.00
8       0.03
25      0.40
46      0.05
47      0.06
94      0.07
122     0.13
194     0.08
335     0.12
380     0.11
423     0.22
463     0.10
482     0.15
494     0.23
521     0.09
529     0.31
613     1.00
656     0.21
796     0.29
997     0.18
1057    0.27
1060    0.34
1411    0.16
1415    0.24
1480    0.20
1601    0.14
1943    0.17
2264    0.26
2307    0.32
2703     NaN
2970    0.30
3333    0.36
3352    0.25
3487    0.37
4011    0.28
4157    0.52
4350    0.73
4575    0.65
Name: low_volume_percent, dtype: float64
0       0.99
1       0.94
2       0.96
5       0.98
8       0.65
12      0.73
13      0.79
14      0.89
22      0.59
24      0.78
25      0.60
27      0.91
29      0.64
30      0.93
32      0.97
35      0.67
39      1.00
43      0.92
46      0.95
59      0.88
64      0.82
66      0.84
68      0.80
92      0.76
96      0.90
100     0.77
118     0.63
122     0.87
123     0.48
136     0.15
        ...
680     0.57
699     0.50
716     0.27
736     0.40
818     0.66
983     0.43
1040    0.36
1060    0.31
1135    0.16
1275    0.47
1332    0.29
1490    0.61
1691    0.30
1751    0.05
1795    0.08
1901    0.22
2037    0.34
2181    0.14
2218    0.41
2385    0.46
2392    0.35
2703     NaN
2708    0.42
2725    0.26
2880    0.32
3133    0.21
3312    0.33
3488    0.25
3676    0.06
4220    0.09
Name: middle_volume_percent, Length: 91, dtype: float64
0           0
1        2000
9         500
12       5000
14       4000
17        300
23       2400
24       2500
28       3000
29       1500
33        200
43       6000
48       1400
49        900
50        700
53       1000
60        600
65       1800
82       3500
90      14200
99        100
100     10000
101       400
113      9000
114     25000
116      3700
120      1600
123      2200
133      1700
141      1300
        ...
2880     3570
2892    11800
2912    15300
2924     4900
3023    22000
3148     6300
3200     8600
3238     7100
3239    33800
3287     1050
3453    38000
3467     5400
3518     5720
3547    12700
3757    11500
3942    32000
4045      490
4094    12900
4095     4800
4175    51500
4203     6200
4269    35000
4354     8100
4439     9600
4527    26500
4552     3290
4625     5340
4643     1560
4740     9100
4742    11300
Name: take_amount_in_later_12_month_highest, Length: 166, dtype: int64
0          0.90
1          1.28
2          1.00
3          0.13
4          0.46
5          7.59
6         23.67
7          0.25
8          0.31
9          0.80
10         2.48
11         0.72
12         0.09
13         1.24
14         0.07
15         1.13
16         0.21
17         0.60
18         0.87
19         1.37
20         0.11
21         0.43
22         3.48
23         1.71
24         1.90
25         1.46
26        12.35
27        46.90
28         0.91
29         1.02
         ...
4394       6.13
4399       6.11
4417       4.57
4421      24.67
4422      41.78
4436      32.79
4440      13.79
4450      18.97
4453     178.05
4475       5.61
4494      12.49
4497       8.66
4505      14.57
4509      93.40
4524    4677.98
4542      19.13
4572       4.11
4593       3.17
4596       5.75
4599      14.69
4605       8.01
4611      23.19
4647       5.91
4699      11.17
4708      36.20
4712      28.56
4728       4.70
4732      49.37
4738       6.14
4753      21.35
Name: trans_amount_increase_rate_lately, Length: 783, dtype: float64
0       0.55
1       1.00
3       0.57
6       0.94
7       0.88
8       0.76
11      0.63
12      0.70
17      0.43
19      0.51
21      0.66
22      0.92
24      0.83
25      0.69
26      0.96
28      0.93
29      0.44
30      0.53
32      0.81
39      0.80
40      0.67
44      0.72
45      0.73
46      0.90
48      0.79
49      0.48
52      0.71
53      0.95
54      0.75
65      0.36
        ...
147     0.42
162     0.62
163     0.61
168     0.28
177     0.46
184     0.52
202     0.91
207     0.25
253     0.35
281     0.78
466     0.37
485     0.84
554     0.30
636     0.29
647     0.32
654     0.34
885     0.45
1155    0.26
1158    0.27
1175    0.17
1258    0.12
1275    0.16
1321    0.33
1570    0.99
1752    0.15
2670    0.23
2703     NaN
2738    0.24
4676    0.14
4748    0.20
Name: trans_activity_month, Length: 85, dtype: float64
0       0.313
1       0.458
2       0.114
3       0.777
4       0.175
5       0.733
6       0.087
7       0.302
8       0.472
9       0.088
10      0.322
11      0.450
12      0.697
13      0.447
14      0.233
15      0.480
16      0.247
17      0.355
18      0.377
19      0.486
20      0.229
21      0.369
22      0.255
23      0.388
24      0.336
25      0.375
26      0.444
27      0.263
28      0.305
29      0.211
        ...
3370    0.769
3431    0.060
3503    0.054
3509    0.792
3537    0.080
3698    0.673
3776    0.813
3784    0.585
3793    0.362
3976    0.112
4006    0.624
4023    0.618
4033    0.410
4071    0.179
4092    0.872
4117    0.877
4121    0.044
4137    0.323
4191    0.451
4247    0.506
4257    0.073
4269    0.546
4295    0.481
4348    0.802
4392    0.836
4545    0.584
4601    0.496
4623    0.059
4736    0.207
4748    0.159
Name: trans_activity_day, Length: 513, dtype: float64
0       17.0
1       19.0
2       13.0
3       22.0
5       27.0
6       10.0
8       15.0
10      16.0
12      28.0
15      20.0
19      18.0
20      11.0
24      23.0
25       9.0
28      21.0
30      25.0
31       7.0
38      12.0
45      24.0
48      26.0
55      14.0
64      29.0
77       8.0
149      6.0
216     36.0
223     31.0
224     34.0
310     42.0
349     35.0
367     37.0
372     41.0
494     30.0
633      5.0
713     33.0
1022     2.0
1175     4.0
1377    32.0
1551     3.0
2106    38.0
2310    39.0
2703     NaN
2725    40.0
Name: transd_mcc, dtype: float64
0        27.0
1        30.0
2        68.0
3        14.0
4        66.0
5         8.0
6        54.0
7        20.0
8        21.0
9        36.0
10       29.0
11       15.0
12       12.0
13       19.0
14       32.0
15       16.0
16       50.0
18       62.0
21       72.0
22      229.0
25       23.0
26       13.0
27       42.0
28       17.0
29       38.0
30       39.0
32       22.0
33       65.0
35       10.0
36       24.0
        ...
1518    104.0
1587      NaN
1601     93.0
1604    123.0
1799    121.0
1817    136.0
1863    140.0
1961    126.0
2005     86.0
2120     84.0
2174    114.0
2184    161.0
2299    181.0
2456    285.0
2458    149.0
2472     98.0
2536    165.0
2899    113.0
2944    172.0
2978    119.0
3134    116.0
3266    261.0
3489    105.0
3503    137.0
3851    118.0
4309    111.0
4445    132.0
4587    205.0
4594    135.0
4720    139.0
Name: trans_days_interval_filter, Length: 148, dtype: float64
0        26.0
1        14.0
2        22.0
3         6.0
4        42.0
5        11.0
6        53.0
7        20.0
9        35.0
10       21.0
12       13.0
14       18.0
15       17.0
16       15.0
21       41.0
22       19.0
25       23.0
26       12.0
29       25.0
31       77.0
34        5.0
35       10.0
39       24.0
41       29.0
44       31.0
46       40.0
47       30.0
53       27.0
55        9.0
56       16.0
        ...
1422    138.0
1426     89.0
1460     59.0
1524     71.0
1551    160.0
1587    173.0
1704    126.0
1728     81.0
1803     90.0
1876    130.0
1913     91.0
2073     92.0
2240    105.0
2383    107.0
2417     83.0
2458    151.0
2703      NaN
2899    106.0
2978     88.0
3143    118.0
3266    234.0
3503     97.0
3597     98.0
3623     67.0
3674    112.0
3817     85.0
3994    137.0
4012     86.0
4650    110.0
4712     76.0
Name: trans_days_interval, Length: 115, dtype: float64
0       3.0
1       4.0
2       1.0
6       2.0
106     5.0
2703    NaN
Name: regional_mobility, dtype: float64
0       NaN
1       1.0
2989    2.0
Name: student_feature, dtype: float64
0        19890
1        16970
2         9710
3         6210
4        11150
5         8420
6        11220
7         8220
8        69800
9        12510
10       15010
11       14790
12      129900
13       31010
14       13740
15       22310
16        4580
17        6480
18       39920
19       18710
20       13690
21       16770
22       29010
23        1900
24       15800
25        9740
26         290
27        4010
28       17150
29       20380
         ...
4638     26920
4639     13760
4640     67450
4641       870
4644     59790
4645     13360
4646     42660
4650      4990
4655     10960
4660     28740
4663     26180
4670       450
4672     51330
4674     35280
4677     31490
4682      7990
4690     28880
4693      1820
4699     23590
4701     26250
4703     42980
4711    147750
4717      5190
4718     26290
4721       470
4722     21260
4735     27880
4736      8900
4739    104760
4743     19490
Name: repayment_capability, Length: 2390, dtype: int64
0      0
145    1
Name: is_high_user, dtype: int64
0       30.0
1       23.0
2        9.0
3       33.0
4       12.0
5       18.0
6       15.0
8       28.0
9       14.0
10      29.0
11      26.0
12      43.0
13      31.0
16      27.0
17      22.0
18      17.0
20       8.0
22      36.0
23      24.0
24      71.0
28      13.0
32      21.0
33      20.0
35      38.0
41      25.0
48      48.0
51      11.0
53      19.0
56       7.0
66      40.0
        ...
157     58.0
177     34.0
256     55.0
259     44.0
271     60.0
282     41.0
286     46.0
368     52.0
371     47.0
434     57.0
603     42.0
674     66.0
772     62.0
823     56.0
1022     1.0
1218    54.0
1225    70.0
1259    69.0
1310     4.0
1587     2.0
1786     5.0
1812    59.0
1835    61.0
1864    53.0
2703     NaN
2821    81.0
3487     3.0
4037    85.0
4132    63.0
4519    73.0
Name: number_of_trans_from_2011, Length: 71, dtype: float64
0       20130817.0
1       20160402.0
2       20170617.0
3       20130516.0
4       20170312.0
5       20160920.0
6       20161112.0
7       20150512.0
8       20150218.0
9       20170105.0
10      20150814.0
11      20141026.0
12      20130206.0
13      20150807.0
14      20161220.0
15      20150120.0
16      20151203.0
17      20131222.0
18      20161018.0
19      20130613.0
20      20170721.0
21      20140706.0
22      20141223.0
23      20140916.0
24      20110116.0
25      20140315.0
26      20151120.0
27      20150709.0
28      20170111.0
29      20120520.0
           ...
4511    20120330.0
4519    20110114.0
4520    20150201.0
4525    20161221.0
4539    20110410.0
4545    20170128.0
4553    20161031.0
4559    20161206.0
4569    20161210.0
4576    20121017.0
4598    20141008.0
4601    20170625.0
4602    20120724.0
4607    20120422.0
4608    20130923.0
4636    20140424.0
4649    20110807.0
4651    20130911.0
4663    20150123.0
4675    20130715.0
4684    20120730.0
4685    20110202.0
4686    20150608.0
4690    20170612.0
4699    20170715.0
4702    20120128.0
4705    20120114.0
4714    20130121.0
4739    20150329.0
4750    20140527.0
Name: first_transaction_time, Length: 1694, dtype: float64
0        149050
1        302910
2         11520
3        491130
4         61470
5        416670
6         34140
7        144600
8        172290
9         37250
10       244020
11       199850
12       717280
13       336460
14        96840
15       382850
16       653590
17       201360
18        94340
19       296600
20        46180
21       135500
22      1459540
23       169240
24       202730
25        52040
26       315770
27       188420
28       159920
29       150980
         ...
4723     169380
4724      95840
4725      24970
4726      69760
4727     185010
4728     105600
4729      71860
4730      67400
4731     988560
4732      10170
4733      59770
4734      73480
4735     119290
4736      27590
4737     401030
4738      43580
4739      86010
4740      93030
4741     181810
4742     228640
4743     276120
4744     206920
4745      63450
4746     274590
4747     285680
4748      21620
4749      66180
4750     525430
4752     218860
4753     210800
Name: historical_trans_amount, Length: 4524, dtype: int64
0       151.0
1       224.0
2        31.0
3       360.0
4        63.0
5       317.0
6        50.0
7       198.0
8       253.0
9        44.0
10      174.0
11      193.0
12      497.0
13      302.0
14       91.0
15      246.0
16      221.0
17      189.0
18      181.0
19      201.0
20       55.0
21      161.0
22      228.0
23      175.0
24      311.0
25      277.0
26      269.0
27      125.0
28      113.0
29      105.0
        ...
3418    525.0
3446    385.0
3572    394.0
3602    406.0
3674     17.0
3676      5.0
3707    447.0
3766    529.0
3776    417.0
3810    487.0
3826    513.0
3829    591.0
3856      6.0
3874    556.0
3934    327.0
3996    347.0
3999    432.0
4037    816.0
4092    476.0
4095    452.0
4121     13.0
4133    464.0
4184     23.0
4198    423.0
4202    446.0
4293    488.0
4448    396.0
4467    443.0
4511    451.0
4718    416.0
Name: historical_trans_day, Length: 477, dtype: float64
0       0.40
1       0.35
2       1.00
3       0.15
4       0.65
5       0.20
9       0.75
11      0.45
12      0.10
13      0.70
14      0.30
15      0.50
18      0.55
27      0.25
31      0.95
32      0.60
109     0.05
110     0.85
199     0.90
223     0.80
2703     NaN
Name: rank_trad_1_month, dtype: float64
0        34030
1        10590
2         5710
3        91690
4         9770
5        78890
6         3080
7        13930
8        21760
9         6640
10        3420
11       36800
12       82680
13       47010
14       10720
15       27150
16       14300
17        7110
18       21660
19       36640
20        5650
21       16210
22       85280
23       53760
24       30640
25        5860
26       46970
27       45740
28       30300
29        6300
         ...
4695     31180
4696     47610
4697     27780
4698     55120
4701     27810
4703     81210
4704     14590
4705     40580
4707      6660
4708      6830
4712      3110
4714    100820
4716     27930
4718     82960
4721     10420
4722     97080
4728     28550
4729      7200
4732      1880
4733      9550
4737     69210
4740     19340
4742     29440
4743     70960
4747     43140
4748     13350
4749     27130
4750     52410
4752     34550
4753     14630
Name: trans_amount_3_month, Length: 3524, dtype: int64
0        7.0
1        5.0
4        6.0
7        8.0
14       9.0
31       3.0
46       4.0
136     11.0
308     10.0
700      0.0
1310     2.0
1624     1.0
2703     NaN
Name: avg_consume_less_12_valid_month, dtype: float64
0         3920
1         6950
2          840
3        46850
4          760
5        22770
6          110
7          880
8        99950
10        3690
11       22850
12      269120
13         560
14        3030
15        9540
16       17300
17         910
18       33970
19         640
20        3200
21        3290
22       27980
23        6450
24        1890
25        9090
26        2000
27         580
28        9310
29        9770
30       18060
         ...
4585     28610
4601      7650
4606     19510
4613     26620
4615     14810
4625     78410
4627     29670
4630     19370
4632     92600
4640     67790
4644     21900
4656     17920
4669     32980
4674     36300
4678     29080
4683      3280
4688     43240
4690     78220
4693     12840
4703     79360
4711     56970
4718     12750
4722     16060
4739     27290
4741     54160
4742     31540
4746     10290
4747     14170
4750     10480
4751     10860
Name: abs, Length: 1697, dtype: int64
0       0.15
1       0.05
2       0.65
4       1.00
7       0.10
11      0.30
18      0.40
56      0.20
2703     NaN
Name: top_trans_count_last_1_month, dtype: float64
0        1020
1        1210
2         570
3        1290
4        1110
5        1160
6        1250
7         920
8         860
10       1310

0       2200.0
1       2000.0
2       1500.0
3       1800.0
5       2600.0
7          NaN
8       4700.0
9       1900.0
11      2800.0
13      2300.0
15      3000.0
17      1700.0
18      3500.0
20       500.0
21      1600.0
22      2700.0
24       900.0
30      1000.0
32      2100.0
34      2400.0
35      3300.0
43         0.0
55      3600.0
59       800.0
60      2900.0
63      2500.0
69      5700.0
71      3100.0
87      3400.0
113     1300.0
128      600.0
149     1200.0
177     1100.0
258     3900.0
286     1400.0
331     3700.0
366     3200.0
383     5000.0
486     4100.0
566     4000.0
579      700.0
803     4900.0
991     4800.0
1109    4300.0
1146    6000.0
1161    5600.0
1185    4400.0
1793    4600.0
1883    5400.0
1982    6900.0
2512    4200.0
2586    3800.0
3814    4500.0
3938    5200.0
4197    5500.0
Name: loans_credit_limit, dtype: float64
0       72.0
1       74.0
2       77.0
6       76.0
7        NaN
11      73.0
13      75.0
20      79.0
24      71.0
29      81.0
35      70.0
41      66.0
43       0.0
44      80.0
47      69.0
76      78.0
87      85.0
93      64.0
100     68.0
148     63.0
214     67.0
551     89.0
576     65.0
791     84.0
833     57.0
1135    56.0
1368    83.0
1518    62.0
1528    60.0
1670    61.0
1691    82.0
2074    59.0
2400    58.0
4319    54.0
Name: loans_credibility_limit, dtype: float64
0        9.0
1       12.0
2        2.0
3       17.0
4       10.0
6        1.0
7        NaN
9        5.0
10       4.0
11       8.0
13      15.0
14       3.0
18       6.0
19      21.0
26       7.0
32      13.0
40      18.0
42      19.0
43       0.0
52      11.0
92      16.0
98      14.0
110     20.0
131     22.0
166     29.0
254     24.0
583     25.0
844     23.0
1313    27.0
2031    28.0
2245    26.0
2380    31.0
2424    30.0
Name: loans_org_count_current, dtype: float64
0       10.0
1       12.0
2        2.0
3       18.0
5       13.0
6        1.0
7        NaN
9        5.0
11       9.0
13      17.0
14       3.0
18       6.0
19      22.0
23       4.0
25      11.0
26       8.0
32      14.0
40      20.0
42      21.0
43       0.0
47       7.0
51      23.0
96      15.0
105     19.0
116     16.0
131     25.0
166     30.0
254     26.0
431     24.0
635     28.0
768     27.0
1313    29.0
2380    32.0
Name: loans_product_count, dtype: float64
0        2900.0
1        3500.0
2        1600.0
3        3200.0
4        2300.0
5        5300.0
6        2200.0
7           NaN
9        2800.0
10       1800.0
11       3900.0
13       9300.0
14       2000.0
15       4100.0
16       4500.0
18       5000.0
19       6200.0
20        500.0
21       2400.0
22       9000.0
24       1000.0
26       2500.0
27       5700.0
28       2700.0
30       1500.0
31       1700.0
34       3400.0
35       6500.0
36       3100.0
37       1100.0
         ...
327      5800.0
338      5100.0
345      5600.0
365      8400.0
371      1300.0
435       800.0
452      5200.0
513      6800.0
526      7200.0
566     10000.0
578      7500.0
584      6400.0
651      7700.0
755      7800.0
766       700.0
793      8600.0
919       900.0
983      7600.0
991      6900.0
1108     8700.0
1146     8800.0
1355     5900.0
1451     7900.0
1563     9400.0
1711     8100.0
1875     8500.0
2061     9800.0
2767     8900.0
3365     8200.0
4271     9200.0
Name: loans_max_limit, Length: 92, dtype: float64
0       1688.0
1       1758.0
2       1250.0
3       1541.0
4       1630.0
5       1941.0
6       2200.0
7          NaN
8       4750.0
9       1520.0
10      1325.0
11      2450.0
12      2000.0
13      2240.0
14      1600.0
15      2633.0
16      2480.0
17      1575.0
18      2533.0
19      1957.0
20       500.0
21      1633.0
22      3080.0
23      1900.0
24       750.0
25      1560.0
26      1671.0
27      3160.0
28      1825.0
30      1050.0
         ...
4269    2470.0
4291    2353.0
4324    2478.0
4340    1535.0
4359    2562.0
4372    4200.0
4394    1613.0
4396    3180.0
4398    1521.0
4400    1472.0
4430    2788.0
4466    2153.0
4476    1931.0
4491    1388.0
4533     733.0
4545    1934.0
4560    1446.0
4563    2339.0
4577    2438.0
4626    2169.0
4636    2445.0
4639    2380.0
4644    3175.0
4662    1944.0
4674    4825.0
4678     833.0
4705    3171.0
4721    2942.0
4722    2070.0
4723    2187.0
Name: loans_avg_limit, Length: 962, dtype: float64
0        1200.0
1       15100.0
2        4200.0
3       16300.0
4        8300.0
5       11200.0
6        7600.0
7           NaN
8        5500.0
9           0.0
10       9900.0
12      19300.0
13       5000.0
15      18400.0
16      21300.0
17       4700.0
18      10100.0
20       8400.0
21      16500.0
22      21900.0
23       8100.0
24      14000.0
25      10400.0
26       6500.0
27       7000.0
28      21600.0
29       3000.0
30       9200.0
31      18000.0
32      37100.0
         ...
3518    44400.0
3532    32900.0
3556    52300.0
3573    20800.0
3576    32800.0
3579    27200.0
3660    33400.0
3761    24700.0
3833    23100.0
3841    39300.0
3887    36000.0
3907    41600.0
3964    40200.0
4050    30900.0
4119    62900.0
4198    24600.0
4228    30800.0
4253    26400.0
4263    29400.0
4285    20100.0
4320    28400.0
4363    19700.0
4372    46200.0
4378    26000.0
4410    22900.0
4555    31700.0
4636    22700.0
4675    47200.0
4731    60200.0
4749    49200.0
Name: consfin_credit_limit, Length: 328, dtype: float64
0       75.0
1       80.0
2       87.0
4       79.0
6       73.0
7        NaN
9        0.0
11      85.0
13      83.0
16      77.0
18      78.0
20      74.0
21      76.0
37      67.0
42      81.0
43      84.0
52      82.0
53      65.0
89      71.0
102     69.0
270     72.0
491     66.0
657     70.0
2180    68.0
2640    63.0
Name: consfin_credibility, dtype: float64
0        1.0
1        5.0
4        2.0
5       10.0
7        NaN
8        8.0
9        0.0
10       7.0
11       3.0
15       9.0
16       4.0
22      11.0
23       6.0
25      12.0
27      13.0
131     15.0
747     14.0
2081    18.0
2934    16.0
3754    17.0
Name: consfin_org_count_current, dtype: float64
0        2.0
1        6.0
2        1.0
3        5.0
5       12.0
7        NaN
8       11.0
9        0.0
10       8.0
11       3.0
13       7.0
16       4.0
17      10.0
19       9.0
25      14.0
27      15.0
131     18.0
184     13.0
1053    16.0
1372    17.0
2081    20.0
Name: consfin_product_count, dtype: float64
0         1200.0
1        22800.0
2         4200.0
3        30000.0
4         8400.0
5        20400.0
6        16800.0
7            NaN
8        19200.0
9            0.0
11       13200.0
12       42000.0
13       11400.0
15       33600.0
16       27600.0
17        6600.0
18       15600.0
21       32400.0
22       39600.0
23       14400.0
24       31200.0
25       42600.0
26        8100.0
28       21600.0
29        3000.0
30       19800.0
31       18000.0
32       64800.0
33       20700.0
36       27000.0
          ...
2319     59400.0
2400     67800.0
2725     34200.0
2889     78000.0
2894     63600.0
2992     72600.0
3069     58200.0
3070     14700.0
3094     82800.0
3220    100800.0
3328    116400.0
3456     52200.0
3532     79200.0
3621     99600.0
3668     17100.0
3766     38100.0
3889     30900.0
3894     62400.0
3964    122400.0
4006     65100.0
4119    103200.0
4198    106800.0
4232    152400.0
4320     54000.0
4384     93600.0
4431    223200.0
4518     40200.0
4640     90000.0
4675     67200.0
4731    124200.0
Name: consfin_max_limit, Length: 176, dtype: float64
0        1200.0
1        9360.0
2        4200.0
3       12180.0
4        8250.0
5        8130.0
6        8900.0
7           NaN
8        7987.0
9           0.0
10       7757.0
11       9400.0
12      16985.0
13       5460.0
15      17633.0
16       9900.0
17       4062.0
18      10275.0
19       8187.0
20       8400.0
21      18600.0
22      20454.0
23       6100.0
24      15500.0
25       9841.0
26       7050.0
27       6461.0
28      21600.0
29       3000.0
31      18000.0
         ...
4601    11475.0
4612     5140.0
4615     7209.0
4621     8790.0
4633     6137.0
4639    19116.0
4640    19133.0
4645    13460.0
4647     1333.0
4653    15933.0
4656     6222.0
4663     8020.0
4672    13975.0
4675    30333.0
4684     8075.0
4688     5771.0
4694     3550.0
4695     5583.0
4696     3575.0
4718     7818.0
4719     3840.0
4723    10880.0
4724     3460.0
4727     5125.0
4731    25361.0
4735    21100.0
4741    13900.0
4742     7557.0
4744     3344.0
4753     4360.0
Name: consfin_avg_limit, Length: 1678, dtype: float64
0        12.0
1         4.0
2         2.0
4        22.0
5         3.0
6         1.0
7         NaN
8        24.0
9        18.0
11       31.0
12       38.0
13       13.0
14       16.0
17        9.0
18       26.0
21        7.0
24       14.0
25       21.0
26       10.0
27       20.0
28        5.0
30      152.0
35       23.0
37       52.0
39       11.0
43       17.0
45       40.0
49       60.0
51       -2.0
53       33.0
        ...
3015    346.0
3019    348.0
3021    140.0
3028    359.0
3037    203.0
3105    103.0
3140    201.0
3192    221.0
3374    130.0
3392     97.0
3393    109.0
3401     68.0
3439     80.0
3566    259.0
3599     72.0
3718    210.0
3734    168.0
3793     95.0
3825    299.0
3868    139.0
3914    236.0
3931    292.0
3948    174.0
4001    220.0
4099    263.0
4103    244.0
4177    170.0
4290    114.0
4355    157.0
4616    258.0
Name: latest_query_day, Length: 211, dtype: float64
0        18.0
1         2.0
2         6.0
3         4.0
4       120.0
6         3.0
7         NaN
8         7.0
9       142.0
10        9.0
11       35.0
14      193.0
15       27.0
16        1.0
18       77.0
19       37.0
20       71.0
21       23.0
24      104.0
25       82.0
26       80.0
29       34.0
30       64.0
31      139.0
32        5.0
33      107.0
35       54.0
38      130.0
39      123.0
40       55.0
        ...
2738    222.0
2882    171.0
2916    190.0
2936    206.0
2973    248.0
3015    203.0
3102    191.0
3144    219.0
3166    180.0
3186    175.0
3405    182.0
3488    313.0
3538    204.0
3545    240.0
3674    210.0
3856    231.0
3909    200.0
3917    241.0
4032    278.0
4044    224.0
4219    183.0
4245    275.0
4339    242.0
4350    218.0
4402    185.0
4486    181.0
4500    291.0
4521    189.0
4542    192.0
4732    250.0
Name: loans_latest_day, Length: 236, dtype: float64

删除一些几乎无关的特征

In [4]:
delete_columns = ["Unnamed: 0", "trade_no", "bank_card_no", "first_transaction_time", "source", 
                  "id_name", "latest_query_time", "loans_latest_time","student_feature"]
source = data.drop(delete_columns, axis=1)
source.head()

,custid,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,2791858,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,26.0,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,534047,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,14.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,2849787,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,22.0,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,1809708,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,6.0,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,2499829,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,42.0,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [16]:

source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 81 columns):
custid                                        4754 non-null int64
low_volume_percent                            4754 non-null float64
middle_volume_percent                         4754 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4754 non-null float64
trans_activity_month                          4754 non-null float64
trans_activity_day                            4754 non-null float64
transd_mcc                                    4754 non-null float64
trans_days_interval_filter                    4754 non-null float64
trans_days_interval                           4754 non-null float64
regional_mobility                             4754 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4754 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4754 non-null float64
rank_trad_1_month                             4754 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4754 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4754 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4754 non-null float64
reg_preference_for_trad                       4754 non-null object
trans_top_time_last_1_month                   4754 non-null float64
trans_top_time_last_6_month                   4754 non-null float64
consume_top_time_last_1_month                 4754 non-null float64
consume_top_time_last_6_month                 4754 non-null float64
cross_consume_count_last_1_month              4754 non-null float64
trans_fail_top_count_enum_last_1_month        4754 non-null float64
trans_fail_top_count_enum_last_6_month        4754 non-null float64
trans_fail_top_count_enum_last_12_month       4754 non-null float64
consume_mini_time_last_1_month                4754 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4754 non-null float64
railway_consume_count_last_12_month           4754 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4754 non-null float64
status                                        4754 non-null int64
first_transaction_day                         4754 non-null float64
trans_day_last_12_month                       4754 non-null float64
apply_score                                   4754 non-null float64
apply_credibility                             4754 non-null float64
query_org_count                               4754 non-null float64
query_finance_count                           4754 non-null float64
query_cash_count                              4754 non-null float64
query_sum_count                               4754 non-null float64
latest_one_month_apply                        4754 non-null float64
latest_three_month_apply                      4754 non-null float64
latest_six_month_apply                        4754 non-null float64
loans_score                                   4754 non-null float64
loans_credibility_behavior                    4754 non-null float64
loans_count                                   4754 non-null float64
loans_settle_count                            4754 non-null float64
loans_overdue_count                           4754 non-null float64
loans_org_count_behavior                      4754 non-null float64
consfin_org_count_behavior                    4754 non-null float64
loans_cash_count                              4754 non-null float64
latest_one_month_loan                         4754 non-null float64
latest_three_month_loan                       4754 non-null float64
latest_six_month_loan                         4754 non-null float64
history_suc_fee                               4754 non-null float64
history_fail_fee                              4754 non-null float64
latest_one_month_suc                          4754 non-null float64
latest_one_month_fail                         4754 non-null float64
loans_long_time                               4754 non-null float64
loans_credit_limit                            4754 non-null float64
loans_credibility_limit                       4754 non-null float64
loans_org_count_current                       4754 non-null float64
loans_product_count                           4754 non-null float64
loans_max_limit                               4754 non-null float64
loans_avg_limit                               4754 non-null float64
consfin_credit_limit                          4754 non-null float64
consfin_credibility                           4754 non-null float64
consfin_org_count_current                     4754 non-null float64
consfin_product_count                         4754 non-null float64
consfin_max_limit                             4754 non-null float64
consfin_avg_limit                             4754 non-null float64
latest_query_day                              4754 non-null float64
loans_latest_day                              4754 non-null float64
dtypes: float64(68), int64(12), object(1)
memory usage: 2.9+ MB

## 缺省值处理
    缺失值过多 删除
    含有缺失值的选取众数填充

In [8]:
nan = ['low_volume_percent', 'middle_volume_percent', 'trans_amount_increase_rate_lately', 
       'trans_activity_month','trans_activity_day', 'transd_mcc', 'trans_days_interval_filter',
       'trans_days_interval', 'regional_mobility',
       'number_of_trans_from_2011',
       'historical_trans_day', 'rank_trad_1_month',
       'avg_consume_less_12_valid_month',
       'top_trans_count_last_1_month',
       'avg_price_top_last_12_valid_month', 'reg_preference_for_trad',
       'trans_top_time_last_1_month', 'trans_top_time_last_6_month',
       'consume_top_time_last_1_month', 'consume_top_time_last_6_month',
       'cross_consume_count_last_1_month',
       'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month',
       'trans_fail_top_count_enum_last_12_month',
       'consume_mini_time_last_1_month',
       'max_consume_count_later_6_month',
       'railway_consume_count_last_12_month',
       'jewelry_consume_count_last_6_month',
       'first_transaction_day', 'trans_day_last_12_month',
       'apply_score', 'apply_credibility', 'query_org_count',
       'query_finance_count', 'query_cash_count', 'query_sum_count',
       'latest_one_month_apply',
       'latest_three_month_apply', 'latest_six_month_apply', 'loans_score',
       'loans_credibility_behavior', 'loans_count', 'loans_settle_count',
       'loans_overdue_count', 'loans_org_count_behavior',
       'consfin_org_count_behavior', 'loans_cash_count',
       'latest_one_month_loan', 'latest_three_month_loan',
       'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee',
       'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time',
       'loans_credit_limit', 'loans_credibility_limit',
       'loans_org_count_current', 'loans_product_count', 'loans_max_limit',
       'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility',
       'consfin_org_count_current', 'consfin_product_count',
       'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day',
       'loans_latest_day']

for key in nan:
    fill_value = source[key].value_counts().index[0]
    source[key].fillna(fill_value, inplace=True)

再次检测缺失值

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 90 columns):
Unnamed: 0                                    4754 non-null int64
custid                                        4754 non-null int64
trade_no                                      4754 non-null object
bank_card_no                                  4754 non-null object
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
student_feature                               1756 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4752 non-null object
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null int64
source                                        4754 non-null object
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
id_name                                       4478 non-null object
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_query_time                             4450 non-null object
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_latest_time                             4457 non-null object
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
dtypes: float64(70), int64(13), object(7)
memory usage: 3.3+ MB

以reg_preference_for_trad为主键

In [10]:
source = pd.get_dummies(source,columns=['reg_preference_for_trad'])
source.head()

,custid,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,...,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day,reg_preference_for_trad_一线城市,reg_preference_for_trad_三线城市,reg_preference_for_trad_二线城市,reg_preference_for_trad_其他城市,reg_preference_for_trad_境外
0,2791858,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,26.0,...,2.0,1200.0,1200.0,12.0,18.0,1,0,0,0,0
1,534047,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,14.0,...,6.0,22800.0,9360.0,4.0,2.0,1,0,0,0,0
2,2849787,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,22.0,...,1.0,4200.0,4200.0,2.0,6.0,1,0,0,0,0
3,1809708,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,6.0,...,5.0,30000.0,12180.0,2.0,4.0,0,1,0,0,0
4,2499829,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,42.0,...,2.0,8400.0,8250.0,22.0,120.0,1,0,0,0,0

相关性计算

In [11]:
cor = source.corr()
corr = np.abs(cor["status"]).sort_values(ascending=False)
corr

status                                     1.000000
trans_fail_top_count_enum_last_1_month     0.333339
history_fail_fee                           0.306273
loans_overdue_count                        0.266961
latest_one_month_fail                      0.248837
loans_score                                0.245092
apply_score                                0.232480
rank_trad_1_month                          0.146643
trans_fail_top_count_enum_last_6_month     0.134436
latest_one_month_suc                       0.131443
trans_fail_top_count_enum_last_12_month    0.118328
top_trans_count_last_1_month               0.117299
consfin_avg_limit                          0.081569
trans_day_last_12_month                    0.078974
consfin_credit_limit                       0.076057
avg_price_top_last_12_valid_month          0.071259
trans_top_time_last_1_month                0.067794
consume_top_time_last_1_month              0.065610
consfin_max_limit                          0.061551
latest_six_month_loan                      0.060227
latest_query_day                           0.057419
query_cash_count                           0.053036
low_volume_percent                         0.051911
custid                                     0.051518
latest_three_month_loan                    0.051411
avg_price_last_12_month                    0.051126
loans_count                                0.046979
max_cumulative_consume_later_1_month       0.045376
number_of_trans_from_2011                  0.044843
first_transaction_day                      0.041636
                                             ...
consfin_credibility                        0.022937
query_sum_count                            0.022743
loans_settle_count                         0.021536
trans_top_time_last_6_month                0.020901
query_org_count                            0.020757
consume_mini_time_last_1_month             0.020591
trans_activity_day                         0.020428
reg_preference_for_trad_境外                 0.020422
reg_preference_for_trad_二线城市               0.020373
max_consume_count_later_6_month            0.017575
latest_three_month_apply                   0.017162
trans_days_interval                        0.017119
cross_consume_count_last_1_month           0.017008
trans_activity_month                       0.016706
reg_preference_for_trad_其他城市               0.016670
loans_long_time                            0.016285
loans_credibility_limit                    0.015244
abs                                        0.012611
repayment_capability                       0.012323
loans_avg_limit                            0.011481
reg_preference_for_trad_一线城市               0.010195
trans_amount_increase_rate_lately          0.009364
reg_preference_for_trad_三线城市               0.009304
trans_days_interval_filter                 0.006185
jewelry_consume_count_last_6_month         0.004971
latest_six_month_apply                     0.004152
query_finance_count                        0.003676
loans_credibility_behavior                 0.002495
take_amount_in_later_12_month_highest      0.001626
transd_mcc                                 0.000137
Name: status, Length: 85, dtype: float64

## 特征工程 
相关程度在0.04以上的特征组合起来作为新的特征

In [12]:
index = list(corr[corr>0.05].index)
del index[0]
new_feature_data = source[index]
new_feature_data.head()

,trans_fail_top_count_enum_last_1_month,history_fail_fee,loans_overdue_count,latest_one_month_fail,loans_score,apply_score,rank_trad_1_month,trans_fail_top_count_enum_last_6_month,latest_one_month_suc,trans_fail_top_count_enum_last_12_month,...,trans_top_time_last_1_month,consume_top_time_last_1_month,consfin_max_limit,latest_six_month_loan,latest_query_day,query_cash_count,low_volume_percent,custid,latest_three_month_loan,avg_price_last_12_month
0,1.0,7.0,2.0,0.0,552.0,583.0,0.40,2.0,1.0,2.0,...,4.0,4.0,1200.0,13.0,12.0,6.0,0.01,2791858,1.0,1020
1,0.0,4.0,0.0,1.0,635.0,653.0,0.35,3.0,2.0,3.0,...,13.0,13.0,22800.0,8.0,4.0,2.0,0.02,534047,2.0,1210
2,3.0,2.0,0.0,1.0,633.0,654.0,1.00,6.0,1.0,6.0,...,0.0,0.0,4200.0,4.0,2.0,5.0,0.04,2849787,2.0,570
3,1.0,26.0,4.0,0.0,542.0,595.0,0.15,8.0,2.0,8.0,...,6.0,6.0,30000.0,34.0,2.0,4.0,0.00,1809708,4.0,1290
4,3.0,25.0,6.0,0.0,479.0,541.0,0.65,3.0,0.0,3.0,...,0.0,0.0,8400.0,10.0,22.0,4.0,0.01,2499829,0.0,1110

数据清洗 标准化

In [13]:
std = StandardScaler()
new_feature_data_std = std.fit_transform(new_feature_data)
new_feature_data_std = pd.DataFrame(new_feature_data_std, columns = new_feature_data.columns)
new_feature_data_std.head()

C:\Users\SYX\AppData\Roaming\Python\Python37\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\SYX\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,trans_fail_top_count_enum_last_1_month,history_fail_fee,loans_overdue_count,latest_one_month_fail,loans_score,apply_score,rank_trad_1_month,trans_fail_top_count_enum_last_6_month,latest_one_month_suc,trans_fail_top_count_enum_last_12_month,...,trans_top_time_last_1_month,consume_top_time_last_1_month,consfin_max_limit,latest_six_month_loan,latest_query_day,query_cash_count,low_volume_percent,custid,latest_three_month_loan,avg_price_last_12_month
0,-0.341011,-0.389299,-0.053076,-0.325010,0.197137,0.169757,-0.292324,-0.566526,-0.077578,-0.677859,...,-0.586704,-0.556073,-1.096180,-0.028515,-0.329940,0.912736,-0.284251,1.064536,-0.481900,-0.283482
1,-0.865152,-0.510926,-0.697573,-0.060665,1.575817,1.564789,-0.481787,-0.341825,0.447042,-0.467428,...,1.104626,1.092723,0.459607,-0.493400,-0.549139,-0.654592,-0.043372,-1.118767,-0.189051,-0.035373
2,0.707270,-0.592011,-0.697573,-0.060665,1.542596,1.584718,1.981228,0.332277,-0.077578,0.163865,...,-1.338406,-1.288870,-0.880098,-0.865308,-0.603939,0.520904,0.438384,1.120553,-0.189051,-0.871108
3,-0.341011,0.381009,0.591422,-0.325010,0.031030,0.408905,-1.239638,0.781679,0.447042,0.584728,...,-0.210853,-0.189674,0.978203,1.924002,-0.603939,0.129072,-0.525129,0.114797,0.396645,0.069093
4,0.707270,0.340467,1.235920,-0.325010,-1.015438,-0.667262,0.654989,-0.341825,-0.602199,-0.467428,...,-1.338406,-1.288870,-0.577584,-0.307446,-0.055941,0.129072,-0.284251,0.782144,-0.774748,-0.165957

In [15]:
final_data = pd.concat([new_feature_data_std,source["status"]], axis=1)
final_data.head()

,trans_fail_top_count_enum_last_1_month,history_fail_fee,loans_overdue_count,latest_one_month_fail,loans_score,apply_score,rank_trad_1_month,trans_fail_top_count_enum_last_6_month,latest_one_month_suc,trans_fail_top_count_enum_last_12_month,...,consume_top_time_last_1_month,consfin_max_limit,latest_six_month_loan,latest_query_day,query_cash_count,low_volume_percent,custid,latest_three_month_loan,avg_price_last_12_month,status
0,-0.341011,-0.389299,-0.053076,-0.325010,0.197137,0.169757,-0.292324,-0.566526,-0.077578,-0.677859,...,-0.556073,-1.096180,-0.028515,-0.329940,0.912736,-0.284251,1.064536,-0.481900,-0.283482,1
1,-0.865152,-0.510926,-0.697573,-0.060665,1.575817,1.564789,-0.481787,-0.341825,0.447042,-0.467428,...,1.092723,0.459607,-0.493400,-0.549139,-0.654592,-0.043372,-1.118767,-0.189051,-0.035373,0
2,0.707270,-0.592011,-0.697573,-0.060665,1.542596,1.584718,1.981228,0.332277,-0.077578,0.163865,...,-1.288870,-0.880098,-0.865308,-0.603939,0.520904,0.438384,1.120553,-0.189051,-0.871108,1
3,-0.341011,0.381009,0.591422,-0.325010,0.031030,0.408905,-1.239638,0.781679,0.447042,0.584728,...,-0.189674,0.978203,1.924002,-0.603939,0.129072,-0.525129,0.114797,0.396645,0.069093,0
4,0.707270,0.340467,1.235920,-0.325010,-1.015438,-0.667262,0.654989,-0.341825,-0.602199,-0.467428,...,-1.288870,-0.577584,-0.307446,-0.055941,0.129072,-0.284251,0.782144,-0.774748,-0.165957,1

数据划分

In [16]:
from sklearn.model_selection import train_test_split

X, y = final_data.iloc[:,:-1], final_data.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2018)

采取随机森林预测

In [17]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=500, min_samples_split=2, bootstrap=True, max_depth=4, max_features=6)
RF.fit(x_train, y_train)
RF.score(x_test, y_test)

0.7806587245970568